* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

header {
	background-color: #12e3ce;
	color: #fff;
	padding: 1rem;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover,
nav a.active {
	color: #ff0;
}

.hero {
	max-width: 960px;
	margin: 0px;
}